.wrap-layout {
  background: var(--color-bg1);
  height: fit-content;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px;
  color: var(--color-bg4);
  overflow: hidden;
}
.title-quiz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--color-bg2);
}
.title-quiz h1 {
  background: var(--color-bg2);
  width: 300px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #fff;
}
.difficult button{
  background: var(--color-bg4);
  color: var(--color-bg1);
  border-radius: 10px;
  border: 2px solid #fff;
  width: 100%;
  height: 65px;
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  
}

.difficult button:hover{
  background: var(--color-bg1);
  color: var(--color-bg4);
}
.number, .difficult{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;

}
.number button{
  width: 50px;
  height: 30px; 
  font-size: 15px;
  font-weight: 800;
  border-radius: 10px;
  border: 2px solid #fff;
}

.wrap-timer {
  display: flex;
  justify-content: center;
}
.timer {
  background: var(--color-bg2);
  color: var(--color-bg4);
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 25px;
  padding: 10px;
  font-weight: 800;
}
.wrap-question-answer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.question {
  width: 100%;
  background: var(--color-bg2);
  padding: 20px;
  border-radius: 20px;
  border-bottom: 1px solid var(--color-bg1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  background: var(--color-bg2);
  padding: 20px;
  border-radius: 20px;
  height: fit-content;
}
.answer button {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}
.answer button:hover{
  background-color: white;
}